<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>J_music.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7985002D1BCCECCA009DA49C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>798500461BCCECCA009DA49C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>798500511BCCECCA009DA49C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
